@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(21, 20, 20);
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    margin: auto;
    color: wheat;
}
h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
    margin: 15px;
}
h2 {
    color: wheat;
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
}
header {
   background-color: black;
    color: wheat;
    display: flex;
    justify-content: space-between;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
}

ul a:hover {
    color: wheat;
    cursor: pointer;
}


ul {
    display: flex;
    margin: 20px;
    list-style-type: none;
    clear: both;
}


li a {
    text-decoration: none;
    margin: 30px;
    font-weight: bold;
    font-size: 1.2rem;
    color:wheat;
    list-style-type: none;
    
}
.nav-btn {
    border: 2px solid wheat;
    border-radius: 30px;
    margin: 10px;
  padding: 5px;
    cursor: pointer;
    font-family: 'Kaushan Script', cursive;
}

#intro-section {
 
    background-image: url("../images/canion-mountain.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    color: wheat;
   
}
.about-me {
    word-spacing: 2px;
    line-height: 35px;
    padding: 20px;
    max-width: 600px;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 500;
}
#project-section {
    text-align: center;
    color: white;
    margin: 20px;
}
#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: wheat;
    
    
    }
.all-projects {
    border: 1px solid white;
    margin: 20px;
    padding: 5px 5px 10px 5px;
    background-color: white;
    color: wheat;
    border-radius: 25px;

}
a {
    text-decoration: none;
    color: wheat;
    font-weight: 600;
    
}
img {
    border-radius: 20px;
}
#skills-section {
    text-align: center;
}

#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 40px;
}
.fa-brands {
    margin: auto;
}
#form {
    background-image: url("../images/canion-mountain.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#details-form {
    border: 1px solid rgb(207, 201, 191);
    background-color: wheat;
    width: 400px;
    height: 500px;
    opacity: 0.9;
    text-align: center;
    color: black;
    border-radius: 30px;
}

input{
    min-height: 30px;
    min-width: 250px;
    border-radius: 5px;
    border:1px solid #cccccc;
    margin: 10px;
  }
  input[type=submit] {
    min-width: 7em;  
    min-height: 2em;
}





.all-projects:hover {
    transform: scale(1.1);
    
  }
  
i{
    font-size: 90px;
    background-color: rgb(21, 20, 20);
    color: wheat;
    
}

footer {
    
    padding: 5px;
    font-style: italic;
}
@media only screen and (max-width: 854px) {
    

    .nav-btn {
        margin-top: 10px;
        width: auto;
    }

    #intro-section {
        text-align: center;
    }
}
@media only screen and (max-width: 770px) {
   header {
        display: block;
        width: auto;
    }
    #intro-section {
        display: block;
        width: auto;
        height: auto;
    }
}
@media only screen and (max-width: 645px) {
   ul{
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         width: auto;
     }
     #intro-section {
         display: block;
         width: auto;
         height: auto;
     }
 }

@media only screen and (max-width: 480px) {
   header {
    text-align: center;
    position: relative;
   }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }
    .nav-btn {
        text-align: center;
        
}
footer {
    text-align: center;
}

}




    
   
    

    


